*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#container-logo{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
#logo-miramas{
    margin:1% 0 0.5% 0;
}

#phrase-logo{
    color: #406346;
    font-family:"Inter";
    font-size: 1.8em;
    margin-right: 9%;
    font-style: italic;
    text-align:right;   
}
.phrase-connexion{
    color: #406346;
    font-size: 0.7em;
    font-family: inter;
    
}
/*logo connexion*/
i{
    color:#406346;
    font-size:150%;
    
    
}
i:hover{
    color: #406346;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(210, 184, 118), 0 0 0.2em rgb(210, 184, 118);
}
/*container contenant le logo connexion et la phrase se connecter*/
#c{
    width:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: #406346;
    height: 10vh;  
}
ul{
    display: flex;
    justify-content: space-around;
    align-items:center;    
}
li{    
    list-style-type: none;
    margin-top:1.3%;
}
a{
    text-decoration: none;
    color:white;
    font-size: 1.6em;
    font-family: "Dancing Script";   
}

#photos-accueil{
    background-image: url(../image/imagepageaccueil.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 45vh;
}
#rectangle-accueil{
    height: 10vh;
    background-color: #406346;
    display: flex;
    align-items: center;
}
#texte-rectangle{
    color:#D2B876;
    padding-left:6.5%;
    font-size: 1.6em;
    font-family: "Dancing Script";  
    width:100%;  
}
/*div de la nav jusqu au footer*/
#gd{
    padding-top: 5%;
    padding-bottom:5%;
    background: rgb(64,99,70);
    background: linear-gradient(90deg, rgba(64, 99, 70, 0.5) 0%, rgba(255,255,255,1) 50%, rgba(64, 99, 70, 0.5) 100%);
}
.light:hover{
    
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(210, 184, 118), 0 0 0.2em rgb(210, 184, 118);
    color: white;
}
#text-principal{
    text-align: center;
    color: #406346;
    margin-top: 0.2%;
    font-size: 1.2em;
    font-weight: 520;
    line-height: 1.3em;
    font-family: inter;
    font-style: italic;
    line-height: 160%;
    padding:0 8% 0 8%;
    
}
#bonjour{
    color: #406346;
    font-weight: 530;
    font-size: 1.2em;
    text-align: center;
    margin: 0 0 2% 0;
    font-family: inter;
    font-style: italic;
}
.animation-text{
    width:87%;
    margin:auto;
    height:40vh;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    padding-top:2%;
    background-color: white;
}
h2{
    color:#406346;
    padding-left: 6.9%;
    margin-top: 7%;
    font-family: inter;
    font-style: italic;
    font-size: 1.2em;
    padding-top:2%;

}

#container-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    
}
@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }


#photos-velo{
    height:25vh;
    width:100%;
    border-radius: 15px 15px 0 0;
    margin-top: 0%;
    padding-top: 0%;
}
#photos-circulaire{
    height:26vh;
    width:100%;
    background-image: url(../image/image-economie-circulaire-nouvelle-image.png);
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
#texte-circulaire{
    height: 9vh;
    font-family: inter;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;  
   
}
.div-images{
    display: flex;
    flex-direction: column;
}

 .lien-biodiversite{
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    /* box-shadow: 3px 2px 3px black; */
     box-shadow: rgb(0, 0, 0) 0px 10px 20px -7px; 
    padding-bottom:1%;
    margin: 6% 0 9% 0%;
    animation: slide-in 2500ms;
    animation-timing-function: linear;
    background-color: white;
}
.lien-biodiversite:hover{
    /* box-shadow: rgb(0, 0, 0) 0px 10px 20px -7px; */
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}
#photos-biodiversité{
    height:25vh;
    width:100%;
    border-radius: 15px 15px 0 0;
    margin-top: 0%;
    padding-top: 0%;
}
.texte-circulaire{
color: #406346;
font-family: inter;
font-style: italic;
font-size: 0.7em;
text-align: center;
}

#grand-footer{
    background-color: #B9CCA6;
    height: 32vh;
    
}

.container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3% 0 3% 0;
    height:9vh; 
}
#titre-footer{
    color: #406346;
    text-align: center;
    padding-top: 1.7%;
    font-weight: 630;
    font-family: inter;
    font-style: italic;
    font-size: 1.1em;
}

.texte-footer-2{
    color: #406346;
    font-family: inter;
    font-size: 1em;
    font-weight: 600; 
    text-align: center;
    border:2px solid #B9CCA6;   
}
.texte-footer-2:hover{
    color:#6c8e47;
    
}
.texte-footer-22:hover{
    color: #6c8e47;
}
.texte-footer-22{
    color: #406346;
    font-family: inter;
    font-size: 1em;
    font-weight: 600; 
    text-align: center;
    border:2px solid #B9CCA6;  
}
#container-footer-3{
    background-color: #406346;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#texte-footer-3{
       color:#ffffff;
       font-family: inter;
       font-size: 1em;
       font-style: italic;
       padding: 1.5% 0 1.5% 1%;
}
#texte-footer-3-2{
    color:#ffffff;
    font-family: inter;
    font-size: 1em;
    font-style: italic;
    padding:1.5% 1% 1.5% 0 ;
} 
/*Responsive*/
#menuToggle{
    display: block;
    position: relative;
    top:0px;
    left: 0px;
    width:98.5%;
    z-index: 1;
   
    -webkit-user-select: none;
    user-select: none;
  }
 
  #menuToggle a{
    text-decoration: none;
    color: #0000008C; 
    transition: color 0.3s ease;

  }
 
  #menuToggle a:hover
  {
    color: black;
  }
 
  #menuToggle input{
    display: block;
    width: 37px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: 84.5%;
    
    cursor: pointer;
 
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */ 
    -webkit-touch-callout: none;
  }
 
  /*
   * Just a quick hamburger
   */
   
   .span-3{
    margin-bottom:0px !important;
   }
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    left:85%;
    background: white;
    border-radius: 3px;
    
    z-index: 1;
    transform-origin: 4px 0px; 
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
 
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
 
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
 
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
 
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
 
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
 
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    text-align: center;
    margin: -85px 0 0 -16.5%;
 
    padding: 125px 0 50px 15%;
    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */ 
    transform-origin: 0% 0%;
    transform: translate(-100% );
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  }
 
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
  }
 
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
  
  #hello{
     display:none;
  }
  .text-burger{
    color: #406346;
    font-size: 1em;
    font-family: inter;
    text-align: center;
    margin:auto;
    
  }
 

  /*Media Queries*/
  @media (max-width:1100px){
  .animation-text{
    padding-bottom:2%;
    height:80%;
  }
}

  @media (max-width:900px) {   
     #hello{
       display:block;      
       z-index : 101;
       height : 11 vh;
       position: sticky;
       top:0px;
       z-index: 100; 
  display:flex;
  flex-direction: column;
  justify-content: center;
  
  
}
    #phrase-logo{
      padding-top:10%;
        text-align: center;
        width:100%;
        
      }
    
    #menu{
     display: flex;
     flex-direction: column;
     width:116%;
     
    }
    #menu>li{
     text-align: center;
    }
    nav>ul{
       display:none;
    }
    #navbar-nom{
       display: none;
    }
   body>nav,nav{
     display: none;
    } 
    .lien-biodiversite{
      width:34%;
      margin-top:10%;
    }
    #grand-footer{
      height:42vh;
      display:flex;
      flex-direction:column;
      justify-content: space-between;
    }
    
   
   .container-footer{
    height:21vh;
    background-color: #b9ccA6;
  }
  .animation-text{
    padding-bottom:2%;
  }
    
}



@media (max-width:665px){
 
  #logo-miramas{
    width:60%;
    margin:auto;
  }
  #c{
    width:100%;
    margin-top:5%;
  }
  #phrase-logo{
    font-size:1.5em;
    padding-top:5%;
  }
  #container-section{
    margin-top:5%;
  }
  #text-principal{
    margin-bottom:10%;
  }
  #bonjour{
    padding-top:9%;
    padding-bottom:2%;
  }
  .animation-text{
    width:91%
  }

  .lien-biodiversite{
    width:60%;
    margin-bottom:10%;
    }
    
    .container-footer{
      height:26vh;
      margin-top:8%;
      flex-wrap: nowrap;
      
    }
    #grand-footer{
      height:44vh;
      display:flex;
      flex-direction:column;
      justify-content: space-between;
    }
    #container-footer-3{
      padding:2% 0 2% 0;
    }
    #texte-footer-3{
        width:45%;
        margin:auto;
        text-align: center;
    } 
     #texte-footer-3-2{
     width:56%;
      margin:auto;
      text-align: center;
      margin-top:0.5%;
    }
  
  #menu{
    width:118%;
  }
  .animation-text{
    padding-bottom:2%;
    margin-top:15%;
    margin-bottom:15%;
  }
  .texte-footer-22{   
      display:none;
      padding:0;
      margin:0;      
  }
  .texte-footer-2{
    width:99%;
    margin-top:1%;    
  }
}

@media(max-width:391px){
  .container-footer{
    height:21vh;
    margin-top:8%;
    
  }
  #grand-footer{
    height:42vh;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
  }
  #texte-footer-3{
      width:99%;
      margin:auto;
      text-align: center;
  } 
   #texte-footer-3-2{
   width:99%;
    margin:auto;
    text-align: center;

  }
  .texte-footer-22{   
    display:none;
    padding:0;
    margin:0;      
}
.texte-footer-2{
  width:99%;
  margin-top:1%;    
}
  #phrase-logo{
    font-size:1.1em;
    margin-bottom:2%;
  }
  #c{
    margin-top:9%;
    margin-bottom:2%;
  }
  #menu{
    
    width:119%;
    
   }
   .phrase-connexion{
    font-size:0.7em;
   }
}

@media (max-width:376px){
  
  .container-footer{
    height:42vh;  
  }
 
  #rectangle-accueil{
    height:10vh;
  }
  #texte-rectangle{
    font-size:1.2em
  } 
}
@media (max-width:321px){
  
  #phrase-logo{
    font-size:0.9em;
    margin-bottom:2%;
  }
  #texte-rectangle{
    font-size:1em;
  }
  #rectangle-accueil{
    height:13vh;
  }
 .texte-circulaire{
  font-size:0.6em;
 }
 h2{
    font-size:1em;
 }
  .container-footer{
    height:34vh;
    margin-top:8%;
    
  }
  #grand-footer{
    height:53vh;
  }
  .texte-footer-22{   
    display:none;
    padding:0;
    margin:0;      
}
.texte-footer-2{
  width:99%;
  margin-top:1%;    
}
}

/*hauteur*/


@media (max-height:391px){
   #hello{
    height:15vh
  }
  #photos-velo{
    height:40vh;
  }
  #photos-biodiversité{
    height:40vh;
  }
  #photos-circulaire{
    height:42vh;
  }
  #grand-footer{
    height:102vh;
  
  }
  .container-footer{
    height:65vh;
    margin-top:8%;
    flex-wrap: nowrap;
  }
  #photos-biodiversité{
    height:55vh;
  }
  #photos-circulaire{
    height:55vh;
  }
  #photos-velo{
    height:55vh;
  }
  .texte-footer-22{   
    display:none;
    padding:0;
    margin:0;      
}
.texte-footer-2{
  width:99%;
  margin-top:1%;    
}
#texte-footer-3{
  width:45%;
  margin:auto;
  text-align: center;
} 
#texte-footer-3-2{
width:56%;
margin:auto;
text-align: center;
}
}
@media(max-height:321px){
 
  #rectangle-accueil{
    height:18vh;
  }
  .container-footer{
    height:70vh;  
  }
  #container-footer-3{
    height:18vh;
  } 
  #grand-footer{
    height:110vh;
  }
}
@media(max-height:310px){

  .container-footer{
    height:80vh;  
  }
  #grand-footer{
    height:120vh;
  }
 
}
