
/*logo supprimer*/
#bg-li{
    color:#406346;
    font-size:150%;  
}
#bg-li:hover{
    color: #406346;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(210, 184, 118), 0 0 0.2em rgb(210, 184, 118);
}



/*container partant de la nav au jusqu'au footer*/
#gd{
    padding:3% 0 8% 0;
    background: rgb(64,99,70);
    background: linear-gradient(90deg, rgba(64, 99, 70, 0.5) 0%, rgba(255,255,255,1) 50%, rgba(64, 99, 70, 0.5) 100%);
}
h1{
    color: #406346;
    text-align:center ;
    font-size: 2em;
    font-family: inter;
    margin:0 0 3% 0;
}
#flex-depot-annonce{
    display: flex;
    justify-content: flex-end;    
    
}
/*bouton pour déposer une annonce*/
.depot-annonce{
    color: #fff;
    background-color: #406346;
    font-family: inter;
    border-radius: 15px;
    padding:11px 28px 11px 28px;
    margin:2.5% 30px 20px 0;
    font-size:1em;
    text-align: center;
    border: #406346;
    cursor: pointer;
}
.depot-annonce:hover{
    background-color:#D2B876;
    box-shadow: rgb(0, 0, 0) 0px 10px 20px -7px;
    border: #D2B876;
}

main{
    width:80%;
    background-color: #B9CCA6;
    border:2px solid #406346;
    margin: auto;
    border-radius: 10px;
    padding-bottom:10px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 60px 40px -7px;
}
section{
    margin-top:1%;
}
h6{
    text-align: center;
    color: #406346;
    font-size: 1.4em;
    font-family: inter;
    padding-top:1%;
    font-weight: 600;   
}
.texte{
    color: #406346;
    font-size: 1.2em;
    font-family: inter;
    width:75%;
    padding:0 3% 0 1%;  
    max-width: 97%;
    overflow-wrap: break-word;
    
}
.div-photos-texte{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    height:30vh;
    margin-top:2%;
}
/*photos des annonces*/
.photos-dons{
    width:200px;
    height:22vh;   
    border:1px solid black;
    border-radius: 5px;
    margin: auto;
  
}

.date-time{  
    border-radius: 5px;
    margin: auto;
    background-color: #B9CCA6;
    color:#406346;
    padding: 5px 10px 5px 10px;
    margin-bottom:2%;
}
.div-i{
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-bottom:2%;
}
#logo-i{
    font-size:100%;
    border: 2px solid #406346;
    border-radius: 3px;
    padding:5px;
    color: #406346;
}
#logo-i:hover{
    background-color: #B9CCA6;
    color:#406346;
    border: 2px solid #406346;
    box-shadow: rgb(0, 0, 0) 0px 10px 15px -7px;
}
#logo-i-2{
    font-size:200%;
    border: 2px solid #406346;
    border-radius: 3px;
    padding: 5px;
    color: #406346;
}
#logo-i-2:hover{
    color:#406346;
    border: 2px solid #406346;
    box-shadow: rgb(0, 0, 0) 0px 10px 15px -7px;
    background-color: #B9CCA6;
}
.form-button-contact{
    display: flex;
    justify-content: center;

    
}
.button-delete{
background-color: #B9CCA6;
border: none;


}
.container-button-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-contact{
   
    border-radius: 15px;
    padding:8px 28px 8px 28px;
    color:white;  
    text-align: center;
    font-family: inter;
    font-size: 1em;
    background-color: #406346;
    margin-bottom:2%;
    border: #406346;
    cursor: pointer;
}
.button-contact:hover{
    background-color:#D2B876;
    box-shadow: rgb(0, 0, 0) 0px 10px 20px -7px;
    border: #D2B876;
}
.button-contact2{  
    border-radius: 15px;
    padding:9px 28px 9px 28px;
    color:white;  
    text-align: center;
    font-family: inter;
    font-size: 1em;
    background-color: #406346;
   margin-bottom:1%;
    border: #406346;
    cursor: pointer;
}
.button-contact2:hover{
    background-color:#D2B876;
    box-shadow: rgb(0, 0, 0) 0px 10px 20px -7px;
    border: #D2B876;
}
hr{
    width:70%;
    padding: 1px;
    background:#406346;
    margin:auto;
    margin-top:1%;
}

.msg-delete-container{
    display: flex;
    justify-content: center;
}
#pagination {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;

  } 
  #pagination a {
    display: block;
    margin: 0 10px;
    text-decoration: none;
  }
.page-active{
    color:white;
    font-family: inter;
    font-size: 1.2em;
    padding: 5px 10px;
    border: 1px solid #406346;
    background-color: #406346;
    border-radius: 5px;
}  
.page{
    font-family: inter;
    font-size: 1.2em;
    padding: 5px 10px;
    border: 1px solid #406346;
    border-radius: 5px;
    color:#406346
}
/*message d'erreur */

.red-text{
    /*color:#406346;*/
    font-size: 0.9em;
    margin-bottom:1%;
    text-align:center;
}
#error-message{
    color:red !important;
}




  /*Media Queries*/
  @media (max-width:1100px){
    .div-photos-texte{
      height:200%
    }
    .texte{
      width:100%;
      margin-bottom:5%;
      text-align: center;
    }
    .photos-dons{
      margin:auto;
    }
    #flex-depot-annonce{
      display:flex;
      justify-content: center;
    }
    .depot-annonce/*bouton*/{
      
      margin:auto;
      margin-top:5%;
      margin-bottom:4.5%;
  }
  h6{
    margin-bottom:2%;
  }
  .texte{
    margin-top:2%;
  }
  }
  
  
  @media (max-width:900px) {   
    
  
  .bouton-contact{
    margin-bottom:5%;
  }
  h6{
    margin-top:3%;
    margin-bottom:1%;
  
  }
  }
  
  @media (max-width:665px){
  
   
    main{
    width:90%;
    margin-top:5%;
   }
  
   h1{
    font-size: 1.5em;
    padding-bottom: 2%;
   }
  #gd{
    padding-top:6%;
  }

  .bouton-contact{
    margin-bottom:8%;
  }
  h6{
    margin-top:5%;
  
  }
  
  .div-i{
    margin-bottom:7%;
  
  }
  .date-time{
      
       margin-bottom:6%;
  }
  .div-photos-texte{
   /* height:60vh;*/
   display:flex;
   flex-direction:column;
   align-items:center;
   padding-bottom:0px;
   margin-bottom:0px;
  }
  .photos-dons{
      margin-bottom:0%;
      margin-top:4%;
  }
  .texte{
      margin-top:8%;
      margin-bottom:4%;
  }

  
  }
  @media(max-width:391px){
  
    #gd{
      padding-bottom:18%;
    }

      .red-text{
      color:#406346;
      font-size: 0.7em;
      margin-bottom:4%;
      margin-top:3%;
      text-align:center;
  }
  }


  /*hauteur*/  
  
  
  @media (max-height:391px){
   
    .photos-dons{
      height:45vh;
    }
  }
  

