
/*div de la nav jusqu au footer*/
#gd{
    padding-top: 5%;
    padding-bottom:7%;
    background: rgb(64,99,70);
    background: linear-gradient(90deg, rgba(64, 99, 70, 0.5) 0%, rgba(255,255,255,1) 50%, rgba(64, 99, 70, 0.5) 100%);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;      
        width:80%;
        margin:auto;
        padding-bottom:6%;
        border-radius: 5px;
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        padding-top:2%;
        background-color: white;
    
}
#paragraphe{
      font-family: inter;
      font-style: italic;
      font-size: 1.2em;
      color:#406346;
      padding-top:3%;
      width: 60%;
}
h1{
    font-family: inter;
    font-style: italic;
    color: #406346;
    padding-top: 4%;
    font-size: 2.1em;
    text-decoration: underline;
    font-weight: 600;
}
#image{
    padding-top:4%;
}


  
  /*Media Queries*/
  

  
  
  @media (max-width:665px){
   
 
  #paragraphe{
    width:90%;
  }
  #gd{
    padding-top:13%;
    padding-bottom: 13%;
  }
  /* #container-footer-3{
    padding:2% 0 2% 0;
  } */
  main{
    width:90%;
  }

  #image{
    width:100%;
  }
  h1{
    margin-bottom:4%;
    font-size: 1.5em;
  }

  
  }

