
#background-texte{
    display: flex;
    justify-content: center;
    width: 100%;
    
   
    
} 
/*div de la nav jusqu au footer*/
 #gd{
    padding-top:6%;
    padding-bottom:7%;
    background: rgb(64,99,70);
    background: linear-gradient(90deg, rgba(64, 99, 70, 0.5) 0%, rgba(255,255,255,1) 50%, rgba(64, 99, 70, 0.5) 100%);
}
#bonjour{
    width:87%;
    text-align: center;
    font-family: inter;
    font-size: 1.2em;
    font-style: italic;
    color: #406346;
    line-height: 160%;  
    border-radius: 5px;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    padding:2% 3% 2% 3%;
    border-radius: 5px;
    background-color:white ;

}


  
  /*Media Queries*/
  
  
  @media (max-width:900px) {   
    
    #gd{
      padding-top:18%;
      padding-bottom:18%;
    }
    }
  
  
  @media (max-width:665px){
    #background{   
      margin: auto;
      width:94%;
    }
  }
  #bonjour/*texte-principal*/{
    width:90%;
    padding-top:4%;
    padding-bottom:4%;
  }

  

      
  
